.content{
    background: url(escribir.jpg) !important;
}
.fondo-carta{
	background-color: rgba(12, 1, 1, 0.52)!important;
}
.color-especialista
{
background-color: rgba(51, 115, 71, 0.66)!important;
}